{% extends "layout.html" %}

{% block container %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-6 bg-white">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Apellido Paterno</th>
                <th scope="col" class="px-6 py-3">Apellido Materno</th>
                <th scope="col" class="px-6 py-3">Correo</th>
                <th scope="col" class="px-6 py-3">Editar</th>
                <th scope="col" class="px-6 py-3">Detalles</th>
                <th scope="col" class="px-6 py-3">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-3 font-medium text-gray-900 dark:text-white">{{ alum.nombre }}</td>
                <td class="px-6 py-3">{{ alum.apaterno }}</td>
                <td class="px-6 py-3">{{ alum.ematerno }}</td>
                <td class="px-6 py-3">{{ alum.email }}</td>

                <!-- Botón Editar -->
                <td class="px-6 py-3">
                    <a href="modificar?id={{ alum.id }}" class="text-blue-600 hover:text-blue-800 flex items-center justify-center space-x-2">
                        <i class="fas fa-edit"></i>
                        <span>Modificar</span>
                    </a>
                </td>

                <!-- Botón Detalles -->
                <td class="px-6 py-3">
                    <a href="detalles?id={{ alum.id }}" class="text-green-600 hover:text-green-800 flex items-center justify-center space-x-2">
                        <i class="fas fa-info-circle"></i>
                        <span>Detalles</span>
                    </a>
                </td>

                <!-- Botón Eliminar -->
                <td class="px-6 py-3">
                    <a href="eliminar?id={{ alum.id }}" class="text-red-600 hover:text-red-800 flex items-center justify-center space-x-2">
                        <i class="fas fa-trash"></i>
                        <span>Eliminar</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
